@(categories: Seq[Category], addForm: Form[String])
@import helper._

@main("Category") {

	<h1>Category</h1>

	@form(routes.Category.add) {
		@inputText(addForm("name"))
		<input type="submit" value="Add">
	}

	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@for(c <- categories) {
				<tr>
					<td>@c.name</td>
					<td>
						@form(routes.Category.delete(c.id)) {
							<button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete</button>
						}
					</td>
				</tr>	
			}
		</tbody>
	</table>

}
