@(categories: Seq[Category], addForm: Form[String])
@import helper._
@import helpers.BootstrapInlineHelper._

@main("Category") {

	<header class="page-header">
		<h1>Category</h1>
	</header>

	<div class="well">
		<form method="post" action="@routes.Category.add" class="form-inline" role="form">
			@inputText(addForm("name"), 'class -> "form-control", 'required -> None, 'autofocus -> None, '_label -> "Name", 'placeholder -> "Name")
			<button type="submit" class="btn btn-success">Add</button>
		</form>
	</div>

	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th>Name</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@for(c <- categories) {
				<tr>
					<td>@c.name</td>
					<td>
						@form(routes.Category.delete(c.id)) {
							<button type="submit" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span> Delete</button>
						}
					</td>
				</tr>	
			}
		</tbody>
	</table>

}
