@(expenses: Seq[(Expense, Option[Category])])

@main("Expense") {
	
	<header class="page-header">
		<h1>Expense</h1>
	</header>

	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th>Date</th>
				<th>Category</th>
				<th>Description</th>
				<th>Amount</th>
			</tr>
		</thead>
		<tbody>
			@for(expense <- expenses ; val e = expense._1 ; val c = expense._2) {
				<tr>
					<td>@e.readableDate</td>
					<td title="@e.id_category">@if(!c.isEmpty){@c.get.name}</td>
					<td>@e.description</td>
					<td>@e.amount</td>
				</tr>	
			}
		</tbody>
	</table>

}
