@(expenses: Seq[(Expense, Option[Category])], page: (Int, Int))
@import helper._

@main("Expense") {
	
	<header class="page-header">
		<h1>Expense</h1>
	</header>

	<p>@page._1 / @page._2</p>
	<p>@if(page._1 > 1){<a href="@routes.Expense.index(page._1 - 1)">previous</a>} @if(page._1 < page._2){<a href="@routes.Expense.index(page._1 + 1)">next</a>}</p>

	<p><a href="@routes.Expense.addForm" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-plus-sign"></span> Add</a></p>

	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th>Date</th>
				<th>Category</th>
				<th>Description</th>
				<th>Amount</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@for(expense <- expenses ; e = expense._1 ; c = expense._2) {
				<tr>
					<td>@e.readableDate</td>
					<td title="@e.id_category">@if(!c.isEmpty){@c.get.name}</td>
					<td>@e.description</td>
					<td>@e.amount</td>
					<td>
						@form(routes.Expense.delete(e.id)) {
							<a href="@routes.Expense.editForm(e.id)" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
							<button type="submit" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span> Delete</button>
						}
					</td>
				</tr>	
			}
		</tbody>
	</table>

}
