@(form: Form[controllers.Expense.ExpenseData], categories: Seq[(String, String)])

@main() {

	<div class="jumbotron">
		<h1>Follow The Money</h1>
		<p>Keep track and analyze your expenses</p>
		<p>
			<a href="@routes.Category.index" class="btn btn-lg btn-primary">1. Create categories</a>
			<a href="@routes.Expense.index()" class="btn btn-lg btn-primary">2. Write down your expenses</a>
			<a href="@routes.Analyze.index" class="btn btn-lg btn-primary">3. Follow the money</a>
		</p>
		<p><a href="@routes.Api.export" class="btn btn-info"><i class="glyphicon glyphicon-export"></i> Export (Json)</a></p>
	</div>

	<div class="page-header">
		<h2>Quick add</h2>
	</div>
	
	@expenseForm(form, categories, routes.Expense.add)
}
