@(title: String = "")(content: Html)

<!DOCTYPE html>
<html>
	<head>
		<title>@if(!title.isEmpty){@title - }Follow The Money</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))">
		<style type="text/css">
			body { padding-top: 70px; }
		</style>
	</head>
	<body>
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container">
				<a class="navbar-brand" href="@routes.Application.index">Follow The Money</a>
				<ul class="nav navbar-nav">
					<li><a href="@routes.Application.index">Home</a></li>
					<li><a href="@routes.Category.index">Category</a></li>
				</ul>
			</div>
		</nav>

		<div class="container">
			@content
		</div>
	</body>
</html>
